@page
@model JiraModel

@{
    ViewData["Title"] = "Jira";
    ViewData["ActivePage"] = ManageNavPages.Jira;
}

<h3>@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Jira.Title" class="form-control" id="Title" placeholder="Title" required />
                <label asp-for="Jira.Title" class="form-label"></label>
                <span asp-validation-for="Jira.Title" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Jira.Description" class="form-control" id="Description" rows="3" placeholder="Description"></textarea>
                <label asp-for="Jira.Description" class="form-label"></label>
                <span asp-validation-for="Jira.Description" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Jira.TemplateId" class="form-control" id="Template">
                    @foreach (var template in Model.Templates)
                    {
                        <option value="@template.Id">@template.Title</option>
                    }
                </select>
                <label asp-for="Jira.TemplateId" class="form-label"></label>
                <span asp-validation-for="Jira.TemplateId" class="text-danger"></span>
            </div>


            <button type="submit" class="w-100 btn btn-lg btn-primary">Create Ticket</button>
        </form>
    </div>
</div>

<div class="bg"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
